@media screen and (min-width: 1201px) and (max-width: 1440px) {
    
    /* presentation */
    
    .presentation {
        padding: 100px;
        justify-content: space-between;
    }

    .presentation .content {
        padding-left: 0;
        margin-right: 10vw;
    }

    .presentation .content p {
        font-size: 25px;
    }

    .presentation .content .btn-container button {
        margin: 0;
        width: 250px;
    }

    .presentation .content .btn-container .btn-resource {
        margin-right: 30px;
    }

    .presentation .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .presentation .image img {
        transform: scale(0.8);
    }

    /* section prb */

    .prb .prb-container p {
        padding: 0 150px;
    }

    /* tuto */

    .tuto .tuto-container .big-box .image {
        min-width: 40%;
    }

    .box-container {
        margin-top: 100px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }

    .box-container .box {
        min-width: 45%;
    }

    .box-container .dp-none {
        display: none;
    }

    .box-container .box .img {
        min-height: 50%;
        width: 100%;
    }
}