@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gris-clair : #F4F4F4;
    --violet : #7A1897;
    --blanc : #fff;
    --noir: black;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
}