body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.color_v {
    color: var(--secondaire);
}

.btn {
    margin: auto;
}


/* apropos */
.apropos {
    background-color: var(--gris-clair);
    max-width: 100vw;
    padding: 18vh 20vh;
}

.pre-container {
    max-width: 1320px;
    margin: auto;
}

h1 {
    display: flex;
    font-size: 64px;
    margin-bottom: 5vh;
}

p {
    margin-bottom: 8vh;
}

.images {
    width: 50%;
    text-align: center;
}

.images img {
    transform: scale(1.2);
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.3);
}


/* section services */
.services {
    padding: 15vh 20vh;
}

.services h2 {
    margin-bottom: 100px;
}

.services-container {
    margin-top: 5vh;
    padding: 0 5vw;
}

.box {
    padding: 5vh;
    min-width: 45%;
    max-width: 45%;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.titre-icon {
    height: 15vh;
}

.trait {
    width: 4vw;
    height: 0.6vh;
    background-color: var(--violet);
    border-radius: 16px;
    margin-top: 3vh;
    margin-left: 2vh ;
}

.box p {
    min-height: 16vh;
    margin: 3vh 0;
}

.btn-savoir {
    background-color: var(--secondaire);
    color: white;
    border: 2px solid white;
}

.btn-savoir:hover {
    background-color: white;
    color: var(--secondaire);
    border: 2px solid var(--secondaire);
}


/* partenaire */
.partenaire {
    background-color: var(--gris-clair);
    padding: 15vh 20vh;
}

.partenaire h2 {
    margin-bottom: 100px;
}

.partenaire-container {
    margin-top: 5vh;
    padding: 0 5vw;
    display: flex;
}

.partenaire-container p {
    max-width: 40%;
    margin: 0;
}

.partenaire-container img {
    max-width: 35%;
}


/* equipe */
.equipe {
    padding: 15vh 20vh;
}

.equipe h2 {
    margin-bottom: 50px; 
}

.equipe-container {
    margin-top: 5vh;
    padding: 0 10vw;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.equipe h3 {
    margin: 50px 0; 
    text-align: center;
}

.team {
    display: flex;
    flex-direction: column; 
    margin: 0 10px;
    margin-top: 20px; 
    justify-content: flex-start;
    text-align: center;
}

.team p {
    margin-top: 10px; 
}

.team img {
    max-width: 15vw;
}


/* Contact */
.contact {
    background-color: var(--gris-clair);
    padding: 15vh 20vh;
}

.contact h2 {
    margin-bottom: 50px; 
}

.lieu {
    text-align: center;
    height: 28vh;
}

.reseaux {
    width: 50%;
    height: 100%;
    padding: 3%;
    background-color: white;
}

.adresse {
    width: 50%;
    height: 100%;
    padding: 3%;
    background-color: white;
}

.adresse p {
    margin-top: 10%;
}

.logo-reseaux img {
    width: 4vw;
    height: auto;
    padding: 2%;
    filter: grayscale(100%);
    transition: 0.5s ease;
}

.logo-reseaux  {
    margin-top: 3vh;
}

.logo-reseaux p {
    margin: 1vh 0;
}

.logo-reseaux img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.form-carte {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.form {
    background-color: white;
    width: 50vw;
    height: 77vh;
    padding: 3%;
}

.form h3 {
    margin-bottom: 20px;
    text-align: center;
}

.form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.form input,
.form textarea {
    background-color: var(--gris-clair);
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form textarea {
    height: 100px;
}

::placeholder {
    color: black;
}

.btn-form {
    background-color: var(--secondaire);
    color: white;
    border: 2px solid white;
    margin-left: 25%;
}

.btn-form:hover {
    background-color: white;
    color: var(--secondaire);
    border: 2px solid var(--secondaire);
}

.carte {
    width: 50vw;
    height: 77vh;
}

.carte iframe {
    height: 77vh;
}


/* footer */

footer {
    padding: 5vh;
}

.link-container ul li a {
    color: var(--violet);
}

.logo-container {
    text-align: center;
    margin-top: 5vh;
}

.logo-container img {
    width: 10%;
    margin: 0 4vw;
}

.separator {
    width: 2px;
    height: 4vh;
    background-color: var(--violet);
    margin: 0 2vw;
    margin-top: 0.5vh;
}

.none {
    display: none !important;
}

.none a {
    color: var(--violet);
}

.top {
    margin-bottom: 1vh;
}