body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    background-color: var(--gris-clair);
    max-width: 100%;
}

.btn {
    margin: auto;
}

.color_int {
    color: var(--internet);
}

.color_adm {
    color: var(--administratif);
}

.color_edu {
    color: #f1b742;
}

.color_san {
    color: var(--sante);
}

.color_sec {
    color: var(--securite);
}

.color_com {
    color: var(--communication);
}

/* intro */
.intro {
    max-width: 100vw;
    padding: 18vh 20vh;
}

.intro-container {
    max-width: 1320px;
    margin: auto;
}

.arc-cercle {
    position: absolute;
    top: 15vh;
    left: -10%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.arc-cercle svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 50vh;
}

.arc-cercle .shape-fill {
    fill: #7A1997;
}

h1 {
    display: flex;
    font-size: 64px;
    margin: 4vh 0;
    color: white;
}

.trait {
    width: 6vw;
    height: 0.6vh;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 3vh;
}

.intro p {
    color: white;
    font-size: 24px;
    width: 65%;
}


/* tutoriels */
.tutoriels {
    padding: 15vh 20vh 0 20vh;
    padding-bottom: 0;
}

.tutoriels h2, .quiz h2 {
    margin-bottom: 3vh;
}

.tutoriels-container {
    margin-top: 5vh;
}

.rdv {
    margin-bottom: 10vh;
}

.trait-vert, .trait-orange, .trait-jaune, .trait-bleu, .trait-violet, .trait-rose {
    width: 6vw;
    height: 0.6vh;
    border-radius: 16px;
    margin-bottom: 6vh;
    margin-left: 3vh;
}

.trait-vert {
    background-color: var(--sante);
}

.trait-bleu {
    background-color: var(--administratif);
}

.trait-violet {
    background-color: var(--internet);
}

.trait-jaune {
    background-color: var(--education);
}

.trait-orange {
    background-color: var(--securite);
}

.trait-rose {
    background-color: var(--communication);
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 2vw;
    width: 85vw;
}

.tuto {
    width: calc(26% - 0vw);
    margin-bottom: 5vh;
    margin-right: 5vw;
    box-sizing: border-box;
    position: relative;
}

.tuto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.3);
}

.tuto:hover img {
    transform: scale(1.05);
}

.overlay_4 {
    position: absolute;
    left: 0;
    bottom: 100%;
    height: 0;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    backdrop-filter: blur(8px) brightness(80%);
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_wrapper:hover .overlay_4 {
    bottom: 0;
    height: 100%;
    transform: scale(1.05);
}

.text_overlay {
    color: white;
    text-align: center;
    font-size: 24px;
}


/* Quiz */
.quiz {
    padding: 0 20vh 15vh 20vh;
    padding-bottom: 0;
}

.btn-quiz {
    display: block;
    margin: 0 auto;
    background-color: var(--secondaire);
    color: white;
    border: 2px solid white;
}

.btn-quiz:hover {
    background-color: white;
    color: var(--secondaire);
    border: 2px solid var(--secondaire);
}

.quiz {
    margin-bottom: 20vh;
}

.texte-img-quiz {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texte-quiz {
    max-width: 70vh;
}

.texte-quiz p {
    padding: 10% 0;
}

.img-quiz {
    max-width: 100vh;
}

.quiz img {
    width: 30vw;
    height: auto;
}



/* media queries */
@media screen and (max-width: 1400px) {
    /* padding de la page */ 
    .intro, .tutoriels, .quiz {
        padding: 10vw;
    }

    /* intro */
    h1 {
        margin: 6vh 0 4vh 0;
    }

    .trait {
        margin-bottom: 5vh;
    }
}

@media screen and (max-width: 1200px){
    /* intro */
    .arc-cercle svg {
        height: 40vh;
    }

    h1 {
        margin: 6vh 0 3vh 0;
    }

    .trait {
        margin-bottom: 3vh;
    }
}

@media screen and (max-width: 992px){ 
    /* intro */
    .arc-cercle {
        left: -20%;
    }
    
    .arc-cercle svg {
        width: calc(120% + 1.3px);
        height: 40vh;
    }

    h1 {
        margin: 8vh 0 3vh 0;
    }

    .intro p {
        font-size: 22px;
        width: 70%;
    }

    /* tutoriels */
    .tuto {
        width: calc(40% - 2vw);
    }

    .videos {
        margin-left: 5vw;
    }

    /* quiz */
    .btn-quiz {
        width: 25vw !important;
    }

    .btn-quiz {
        margin-bottom: 2vh;
    }
}

@media screen and (max-width: 768px){ 
    /* intro */
    .arc-cercle {
        left: -42.5%;
    }
    
    .arc-cercle svg {
        width: calc(130% + 1.3px);
        height: 50vh;
    }

    h1 {
        margin: 15vh 0 2vh 0;
    }

    .trait {
        margin-bottom: 5vh;
    }

    /* quiz */
    .texte-img-quiz {
        flex-direction: column-reverse;
    }

    .texte-quiz,
    .img-quiz {
        width: 100%;
    }

    .texte-quiz {
        margin-bottom: 3vh;
    }

    .quiz img {
        width: 40vw;
        margin-left: 20vw;
        margin-bottom: 3vh;
    }
}

@media screen and (max-width: 576px){ 
    /* intro */
    .arc-cercle {
        left: -70%;
    }
    
    .arc-cercle svg {
        width: calc(140% + 1.3px);
        height: 50vh;
    }

    h1 {
        margin: 18vh 0 4vh 0;
        font-size: 48px;
    }

    .trait, .trait-vert, .trait-orange, .trait-jaune, .trait-bleu, .trait-violet, .trait-rose {
        width: 10vw;
    }

    .intro p {
        font-size: 18px;
        width: 80%;
    }

    /* tutoriels */
    .tuto {
        width: calc(100%);
    }

    .tuto img, .overlay_4 {
        width: 80%;
        margin-left: 10%;
    }

    .videos {
        margin-left: 0;
    }

    /* quiz */
    .btn-quiz {
        width: 40vw !important;
        height: 5vh !important;
    }
}

@media screen and (max-width: 400px){ 
    /* intro */
    .intro {
        margin-bottom: 12vh;
    }

    h1 {
        margin: 20vh 0 4vh 0;
        font-size: 38px;
    }

    .trait, .trait-vert, .trait-orange, .trait-jaune, .trait-bleu, .trait-violet, .trait-rose {
        width: 15vw;
    }

    .trait {
        margin-bottom: 3vh;
    }

    .intro p {
        width: 90%;
    }

    .arc-cercle svg {
        width: calc(140% + 1.3px);
        height: 60vh;
    }
}