/* général */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gris-clair : #F4F4F4;
    --violet : #7A1897;
    --blanc : #fff;
    --noir: black;
    /* le vert est a viré */
    --vert: #156d52;
    --bleu-flo:#009eb2;
    --secondaire : #002Fa7;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.color_v {
  color: var(--violet);
}

.color_s {
  color: var(--secondaire);
}


.btn, button {
  width: 15vw;
  height: 6vh;
  border-radius: 64px;
  transition: 0.5s ease;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.3);
}



/* Header */

header {
  min-height: 15vh;
  z-index: 9999;
}

.logo {
  width: 200px;
  height: 100px;
}

header nav ul li {
  margin: 0 100px;
}

header nav ul li a.active {
  color: var(--violet);
}

header nav ul li a:hover {
  color: var(--violet);
}

.menu__link {
  font-size: 20px;
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--violet);
  position: absolute;
  bottom: -.25rem;
  left: 0;
  transition: width .4s;
}

.menu__link:hover::before {
  width: 100%;
}

.search {
  height: 40px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--blanc);
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 450px;
  margin-bottom: 1vh;
}

.search input {
  width: 180px;
  outline: none;
  border: none;
  font-weight: 500;
  background-color: transparent;
  font-weight: bold;
}

.search a {
  padding-top: 5px;
}

/* menu burger */

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  overflow: visible;
  position: relative;
  z-index: 2;
  margin-bottom: 1vh;
  display: none;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: white;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#burger-menu button p {
  margin-left: 6vw;
  margin-top: 1.5vh;
  font-weight: 500;
}

/* menu */
#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-evenly;
}
#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.7);
}
#menu ul {
  padding: 0;
  margin: auto;
}
#menu li {
  list-style: none;
}
#menu a {
  color: white;
  display: block;
  font-size: 32px;
  margin-bottom: 20vh;
  text-decoration: none;
}


/* burger-menu-phone */
#burger-menu-phone {
  cursor: pointer;
  height: 27px;
  width: 27px;
  overflow: visible;
  position: relative;
  z-index: 2;
  margin-top: 1vh;
  display: none;
}
#burger-menu-phone span,
#burger-menu-phone span:before,
#burger-menu-phone span:after {
  background: white;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu-phone span:before,
#burger-menu-phone span:after {
  content: "";
}
#burger-menu-phone span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#burger-menu-phone span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu-phone span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
#burger-menu-phone.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu-phone.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#burger-menu-phone.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}


/* menu-phone */

#menu-phone {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-evenly;
}
#menu-phone.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.7);
}
#menu-phone ul {
  padding: 0;
  margin: auto;
}
#menu-phone li {
  list-style: none;
}
#menu-phone a {
  color: white;
  display: block;
  font-size: 32px;
  margin-bottom: 20vh;
  text-decoration: none;
}

/* header phone */
.phone {
  display: none !important;
  min-height: 10vh;
}

.header-container {
  width: 100%;
  max-height: 10vh;
  /* max-height: 15vh; */
  margin-bottom: 1vh;
}


.header-container .logo img {
  width: 100%;
}


/* footer */

footer {
  padding: 5vh;
}

.link-container ul li a {
  color: var(--violet);
}

.logo-container {
  text-align: center;
  margin-top: 5vh;
}

.logo-container img {
  width: 10%;
  margin: 0 4vw;
}

.separator {
  width: 2px;
  height: 4vh;
  background-color: var(--violet);
  margin: 0 2vw;
  margin-top: 0.5vh;
}

.none {
  display: none !important;
}

.none a {
  color: var(--violet);
}

.top {
  margin-bottom: 1vh;
}






/* media queries */
@media screen and (max-width: 1200px) {
  /* header */
  header nav {
      display: block;
  }

  header nav ul li {
      margin: 0 50px;
  }

  /* footer */
  .link-container ul li a {
    font-size: 1.3rem !important;
  }

  .separator {
      margin-top: 0.2vh;
      height: 4vh;
  }
}


@media screen and (max-width: 992px) {
  /* header */
  header nav {
      display: none !important;
  }

  #burger-menu {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #burger-menu button {
      min-width: 15vw;
      padding: 0.5vh;
      border-radius: 64px;
      background-color: var(--violet);
      outline: none;
      border: 1px solid black;
      color: white;
  }

  #burger-menu button span {
      margin-right: 3vw;
  }

  /* footer */
  .link-container {
    display: none !important;
  }

  .none {
      display: flex !important;
  }
}

@media screen and (max-width: 768px) {
  /* header */
  .desktop {
      display: none !important;
  }

  .phone {
      display: flex !important;
  }

  .phone .logo {
      margin-top: 5vh;
      margin-bottom: 2vh;
  }

  .phone .header-container {
      /* margin-top: 3vh; */
      padding-right: 5vw;
  }

  .phone .search {
    margin-bottom: 3vh;
  }

  .phone .search input {
    min-width: 450px;
  }

  .phone .search a {
    position: absolute;
    left: 70%;
  }

  #burger-menu-phone {
      display: flex;
      justify-content: center;
      align-items: center;
      /* margin-top: 1.5vh; */
  }

  #burger-menu-phone button {
      min-width: 20vw;
      padding: 0.5vh;
      border-radius: 64px;
      background-color: var(--violet);
      outline: none;
      border: 1px solid black;
      color: white;
  }

  #burger-menu-phone button span {
      margin-right: 3vw;
  }

  #burger-menu-phone button p {
      padding-left: 8vw;
      padding-top: 1.5vh;
  }

  /* footer */
  .none a {
    font-size: 1.3rem !important;
  }

  .separator {
      height: 3vh;
  }

  .logo-container {
      margin-top: 3vh;
  }
}


@media screen and (max-width: 576px) {
  /* header */
  .phone .header-container {
      padding-right: 10vw;
  }

  .search {
      margin-right: 5vw;
      margin-left: 2vw;
  }

  .phone .search input {
    min-width: 300px;
  }

  .phone .search a {
    left: 68%;
  }

  #burger-menu-phone button {
      min-width: 25vw;
  }

  #burger-menu-phone button span {
      margin-right: 5vw;
  }

  #burger-menu-phone button p {
      padding-left: 10vw;
      padding-top: 1.5vh;
  }

  /* footer */
  footer {
    padding: 5vh 1vh;
  }
}


@media screen and (max-width: 400px) {
  /* header */

  header {
      min-height: 40vh;
  }

  .phone {
      display: flex !important;
  }

  .phone .logo img {
      width: 70%;
      padding-top: 3vh;
  }

  .phone .header-container {
      /* flex-direction: column; */
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 0;
      /* padding-left: 20vw; */
      margin-bottom: 1vh;
      padding: 0 5vh;
  }

  .phone .search {
    margin: 1vh 0 2vh 0;
  }

  .phone .search input {
    min-width: 200px;
  }

  .phone .search a {
    left: 68%;
  }

  #burger-menu-phone {
      margin-right: 5vw;
  }

  #burger-menu-phone button {
      min-width: 30vw;
      max-height: 5vh;
      margin-right: 5vw;
      margin-top: 3vh;
  }

  #burger-menu-phone button span {
      margin-right: 8vw;
      margin-top: 1.5vh;
  }

  #burger-menu-phone button p {
    padding-top: 1vh;
    padding-left: 11vw;
}

  /* footer */
  footer .container {
    padding: 0;
  }

  .top .separator {
      margin: 0 5vw;
  }

  .top ul, .bot ul {
      padding: 0;
  }

  .link-container_992 a {
      font-size: 1.1rem !important;
  }

  .bot a {
      font-size: 1rem !important;
  }

  .logo-container img {
      width: 15%;
  }
}