/* général */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gris-clair : #F4F4F4;
    --violet : #7A1897;
    --blanc : #fff;
    --noir: black;
    /* le vert est a viré */
    --vert: #156d52;
    --bleu-flo:#009eb2;
    --secondaire : #002Fa7;
    --secondaire_dyl : #193d98;
}