body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.backlink {
  margin-top: 15px;
  font-size: 18px;
  transition: 0.5s ease;
}

.backlink a {
  color: var(--violet);
  font-weight: bold;
}

.backlink:hover {
  text-decoration: underline;
}

.quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 100%;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

#quiz-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
}

button {
    background-color: #002FA7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s forwards;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

button:hover {
    background-color: white;
    color: #002FA7;
    border:2px solid #002FA7;
}

#results {
    margin-top: 20px;
    font-size: 1.2em;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

label:hover {
    background-color: #f0f0f0;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 2px solid var(--violet);
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:checked + span {
    background-color: var(--internet);
    border-color: var(--violet);
}

.question {
    margin-bottom: 20px;
}

.correct {
    color: green;
    animation: correct 0.5s;
}

.incorrect {
    color: red;
    animation: incorrect 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes correct {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes incorrect {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}




/* Confetti */
.layer {
    width: 500px;
    opacity: 0;
    transition: 5s ease;
}

.appear {
    opacity: 100%;
}

#Layer_1 {
    transform: rotate(280deg);
    position: absolute;
    top: 11vh;
    left: 12vw;
    /* display: none; */
}

#Layer_2 {
    /* display: none; */
    position: absolute;
    top: 36vh;
    left: 77vw;
}

.conf0{fill:#FC6394;}
.conf1{fill:#EF3C8A;}
.conf2{fill:#5ADAEA;}
.conf3{fill:#974CBE;}
.conf4{fill:#3CBECD;}
.conf5{fill:#813BBE;}
.conf6{fill:#F9B732;}
.conf7{display:none;fill:none;stroke:#000000;stroke-miterlimit:10;}
.conf8{fill:none;stroke:#F9B732;stroke-width:9;stroke-linecap:round;stroke-miterlimit:10;}


.confetti-cone{
  transform-origin: 200px 50px;
  animation:confetti-cone1 1.2s ease infinite;
}
@keyframes confetti-cone1{
0%{
   transform:translate(40px, 95px)  rotate(45deg) scale(1, 1);
}
15%{
   transform:translate(10px, 145px)  rotate(45deg) scale(1.1, 0.85);

}
100%{
  transform:translate(40px, 105px)  rotate(45deg) scale(1, 1);
}
  }

#yellow-strip {
  fill:none;
  stroke:#F9B732;
  stroke-width:9;
  stroke-linecap:round;
  stroke-miterlimit:10;
  animation: confdash 1.2s ease infinite;
}


@keyframes confdash {
0%{
  stroke-dasharray:1000;
  stroke-dashoffset:500;
  transform:translate(-30px, 30px);
  opacity:0;
}
2%{
  stroke-dasharray:1000;
  stroke-dashoffset:500;
  transform:translate(-30px, 30px);
  opacity:0;
}
35%{
stroke-dasharray:1000;
stroke-dashoffset:900;
transform:translate(-2px, 0px);
opacity:1;
}

85%{
  stroke-dasharray:1000;
  stroke-dashoffset:1000;
  transform:translate(1px, -5px);
  opacity:1;
}
  90%{
  stroke-dashoffset:1000;
   stroke-dashoffset:1000;
  transform:translate(2px, -8px);
  opacity:0;
}
  100%{
  stroke-dashoffset:1000;
   stroke-dashoffset:500;
  transform:translate(2px, -8px);
  opacity:0;
}
}



#a2{
  transform-origin: 310.9px 241px;
  animation: confa 1.2s ease-out infinite;
}

#a1
{transform-origin: 276px 246px;
  animation: confa 1.2s ease-out infinite;
}

@keyframes confa {
0%{
  opacity:0;
  transform: translate(-30px, 20px) rotate(0);
}
15%{
  opacity:1;
  transform: translate(25px, -10px) rotate(60deg);
}
80%{
  opacity:1;
  transform: translate(33px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(37px, -23px) scale(0.5)rotate(230deg);
}
}


#b1{
  transform-origin: 195.2px 232.6px;
  animation: confb 1.2s ease-out infinite;
}

#b2{
  transform-origin: 230.8px 219.8px;
  animation: confb 1.2s ease-out infinite;
}
#b3 {transform-origin: 222.8px 190.6px;
  animation: confb 1.2s ease-out infinite;
}

#b4 {transform-origin: 262px 188.5px;
  animation: confb 1.2s ease-out infinite;
}

#b5 {transform-origin: 282.3px 170.6px;
  animation: confb 1.2s ease-out infinite;
}


@keyframes confb {
0%{
  opacity:0;
  transform: translate(-30px, 20px) rotate(0);
}
12%{
  opacity:1;
  transform: translate(25px, -10px) rotate(60deg);
}
76%{
  opacity:1;
  transform: translate(33px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(37px, -23px) scale(0.5) rotate(240deg);
}
}

#c1 {transform-origin: 174.8px 183.4px;
  animation: confc 1.2s ease-out infinite;
}
#c2{
  transform-origin: 178.9px 156.2px;
  animation: confc 1.2s ease-out infinite;
}

#c3{
  transform-origin: 206.7px 140px;
  animation: confc 1.2s ease-out infinite;
}

#c4{
  transform-origin: 213.5px 120.2px;
  animation: confc 1.2s ease-out infinite;
}

@keyframes confc {
0%{
  opacity:0.7;
  transform: translate(-30px, 20px) rotate(0);
}
18%{
  opacity:1;
  transform: translate(5px, -10px) rotate(60deg);
}
76%{
  opacity:1;
  transform: translate(13px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(17px, -23px) scale(0.5) rotate(230deg);
}
}

#d1{
  transform-origin: 127px 176px;
  animation: confd 1.2s ease-out infinite;
}
#d2 {transform-origin: 133px 118px;
  animation: confd 1.2s ease-out infinite;
}
#d3{ transform-origin: 152px 100px;
  animation: confd 1.2s ease-out infinite;
}

@keyframes confd {
0%{
  opacity:0.7;
  transform: translate(-20px, 20px) rotate(0);
}
18%{
  opacity:1;
  transform: translate(-5px, -10px) rotate(60deg);
}
76%{
  opacity:1;
  transform: translate(-8px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(-10px, -23px) scale(0.5) rotate(230deg);
}
}