body {
    background-color: var(--gris-clair);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}


/* section fonctionnalité */

.fonctionnalite {
    margin-top: 15vh;
    padding: 10vh 20vh;
}

.underline {
    height: 5px;
    background-color: var(--secondaire);
    border-radius: 16px;
}

.big_title_underline {
    width: 200px;
    margin-left: 2vw;
    margin-top: 3vh;
    margin-bottom: 8vh;
    background-color: black;
}

.title_underline {
    width: 50px;
    margin-left: 1vw;
    margin-top: 1.5vh;
}

.fonctionnalite .container {
    margin-top: 5vh;
}

.mg_r {
    margin-right: 5vw;
}

.pmg_b {
    margin-bottom: 3rem;
}

.fonc_box {
    min-width: 35vw;
    background-color: white;
    border-radius: 32px;
    padding: 5vh 3vw;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.3);

}

.container .top {
    margin-bottom: 5vh;
}

.fonc_box .title h3 {
    margin-top: 2vh;
}

.container img {
    width: 50%;
}

.container button {
    background-color: var(--secondaire);
    border: 2px solid white;
    color: white;
    /* a mettre dans général le letter spacing */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    margin-left: 25%;
    margin-top: 2vh;
    font-weight: bold;
}

.container button:hover {
    background-color: white;
    border: 2px solid var(--secondaire);
    color: var(--secondaire);
}

/* separator */

.bar {
    width: 50vw;
    height: 5px;
    border-radius: 16px;
    margin: 10vh auto;
    background-color: black;
    opacity: 0.3;
}



/* thematique */

.thematique {
    padding-bottom: 5vh;
}

.thematique h1 {
    text-align: center;
    margin: 15vh;
}

.line {
    margin: 10vh 0;
}

.theme_box {
    min-width: 35vw;
    background-color: white;
    border-radius: 32px;
    padding: 5vh 3vw;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.3);
}

.internet {
    background-color: #C841BB;
}

.securite {
    background-color: #FFA552;
}

.administratif {
    background-color: #5271FF;
}

.education {
    background-color: #FFD84C;
}

.sante {
    background-color: #1FC678;
}

.comm {
    background-color: #FF5276;
}


/* section download */
.download {
    padding: 15vh;
}

.download img {
    width: 30%;
}

.download p {
    margin-top: 2vh;
}

.download .container {
    max-width: 1200px;
    margin-top: 5vh;
    flex-wrap: wrap !important;
}

.download-box {
    width: 100%;
    height: 35vh;
    background-color: white;
    border-radius: 32px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.3);
    padding: 3vh 3vw;
    /* margin-right: 5vw; */
    margin-bottom: 10vh;
}

.downloadButton {
    margin: 2vh 0 !important;
}

.download-box i {
    margin-left: 0.5vw;
}


/* medias queries */

@media screen and (max-width: 1400px) {
    /* fonctionnalite */
    .fonctionnalite {
        padding: 10vh;
    }

    .fonctionnalite .container {
        margin-left: 3vw;
    }

    .pmg_b {
        margin-bottom: 1rem;
    }

    /* thématique */
    .thematique {
        padding: 0vh 5vw 5vh 5vw;
    }
}


@media screen and (max-width: 1200px) {
    /* fonctionnalite */
    .fonctionnalite {
        padding: 10vh 8vw;
    }

    /* download */
    .download {
        padding: 10vh 8vw;
    }

    .downloadButton {
        font-size: 0.9rem !important;
    }
}


@media screen and (max-width: 992px) {
    /* fonctionnalite */
    .fonctionnalite .container {
        flex-direction: column;
        margin-left: 0;
    }

    .fonc_box {
        min-width: 100%;
        margin: 0;
        padding: 5vh 8vw;
        text-align: center;
    }
    
    .fonc_box .bot p {
        text-align: start;
    }

    .first-mg_b {
        margin-bottom: 10vh;
    }

    .mg_b:not(.first-mg_b) {
        margin-bottom: 0;
    }

    .container button {
        margin-left: 0;
        min-width: 40%;
    }


    /* thematique */

    .theme_box .bot button {
        min-width: 60%;
        margin-left: 20%;
    }
}


@media screen and (max-width: 768px) {
    /* thematique */
    .line {
        flex-direction: column;
    }

    .theme_box {
        min-width: 100%;
        margin: 0;
        padding: 5vh 10vw;
    }

    .mg_b:not(.first-mg_b) {
        margin-bottom: 10vh;
    }
}


@media screen and (max-width: 576px) {
    /* fonctionnalite */
    .container button {
        margin-left: 0;
        min-width: 60%;
    }

    h3 {
        font-size: 1.2rem !important;
    }

    .fonc_box .bot p {
        font-size: 1.1rem !important;
    }

    /* thematique */
    .thematique h1 {
        margin: 0;
    }

    /* bar */
    .bar {
        margin: 5vh auto;
    }

    /* download */
    .download img {
        width: 55%;
    }
} 


@media screen and (max-width: 400px)  {
    .fonc_box {
        text-align: start;
    }

    .fonc_box .bot button {
        margin-left: 15%;
        min-width: 70%;
    }

    /* download */
    .download h2 {
        font-size: 1.3rem !important;
    }
}





